<template>
    <div id="app">
        <highcharts class="chart" :options="chartOptions"></highcharts>
    </div>
</template>

<script>
import {Chart} from 'highcharts-vue'

  export default {
    data() {
      return {
        chartOptions: {},
      }
    },
    methods: {
      read() {
        this.mute = true;
        axios.get('/api/applications').then(({ data }) => {
          this.chartOptions = data
        });
      }
    },
    components: {
      highcharts: Chart
    },
    created() {
      this.read();
    }
  }
</script>
<style>
    #app {
        margin-left: 1em;
        padding: 20px;
    }

    .heading h1 {
        margin-bottom: 0;
    }
</style>
